#body {
  background-color: #0b203f;
  background-image: url("./img/backgroundPageOne.jpg");
  background-attachment: local;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 206.5vh;
  background-position-y: 36.5px;
  display: block;
}
#encabezado {
  background-color: rgba(172, 180, 180, 0.2);
  backdrop-filter: blur(15px);
  text-align: start;
  height: 11vh;
}
#logo {
  height: 55px;
  margin-left: 10px;
  margin-top: 5px;
  display: inline-block;
}
#tituloE {
  margin-top: -55px;
  margin-left: 70px;
  font-size: xx-large;
}
#contenedorEnlaces {
  margin-top: -70px;
  margin-left: 350px;
}
.enlaces {
  margin-left: 100px;
  font-size: x-large;
  color: aliceblue;
}
.enlaces:hover {
  color: aqua;
  border-bottom: 2px solid aqua;
}
#primerElemento {
  display: block;
  margin: 5%;
  text-align: left;
  padding-left: 15px;
  background-color: rgba(8, 19, 20, 0.555);
  backdrop-filter: blur(5px);
  height: 75%;
  width: 24%;
  border-radius: 15px;
}
