#ImagenDeFondo
{
  background-image: url('../img/movimientoNaranjaAltaCalidad.png');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: block;
  height: 100vh;
}

#cajaUsuario
{
  background-color: rgba(4, 67, 67, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 15px;
  border: 2px solid rgb(205, 216, 215);
  color: red;
  width: 50%;
  height: 65%;
  margin-left: 24.5%;
  margin-top: 8%;
  display: inline-block;;
}

#primerTitulo
{
  color: aliceblue;
  font-size: 200%;
  margin-left: 53%;
  display: block;
  margin-top: -60%;
}

#imagen
{
  width: 39%;
  display: block;
  margin: 1.5%;
}

#linea
{
    width: 40%;
    margin-left: 50%;
    margin-top: -3%;
    border: 1px solid aliceblue;
}

#cajaTextUser
{
    background: transparent;
    border: 0.1px solid aliceblue;
    border-radius: 15px;
    color: aliceblue;
    text-align: center;
    width: 35%;
    height: 6%;
    font-size: large;
    margin-left: 52%;
    margin-top: 15%;
}

#cajaTextPass
{
    background: transparent;
    border: transparent;
    border: 1px solid aliceblue;
    border-radius: 15px;
    color: aliceblue;
    text-align: center;
    width: 35%;
    height: 6%;
    font-size: large;
    margin-left: 52%;
    margin-top: 5%;
}

#botonIngresar
{
    width: 36%;
    height: 7%;
    border: transparent;
    border-radius: 15px;
    margin-left: 52%;
    margin-top: 5%;
    font-family:sans-serif;
}

#botonIngresar:hover
{
    color: darkblue;
    background-color: aqua;
}

#linkContrasena
{
    font-size: smaller;
    text-decoration: none;
    color: aliceblue;
    display: flex;
    margin-left: 58%;
    margin-top: 2%;
}

#linkContrasena:hover
{
    color: aqua;
}

#linkRegistro
{
    font-size: smaller;
    text-decoration: none;
    color: aliceblue;
    display: flex;
    margin-left: 59%;
    margin-top: 0.5%;
}

#linkRegistro:hover
{
    color: aqua;
}



