.App {
  background-image: url('./img/movimientoNaranjaAltaCalidad.png');
  background-size:1350px;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items:center;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
